.navbar-lewagon {
  justify-content: space-between;
  background: $coolgrey800;
  height: 80px;
}

.navbar-dropdown-btn {
  margin-left: 20px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  color: $secondaryteal;
  border: 0;
  background-color: $coolgrey800;
  &:hover {
    color: $primaryteal;
}
}

.navbar-search {
  background-color: $coolgrey700;
  color: $neutralgrey200;
  border-radius: 8px 0 0 8px;
  outline: none;
  border: 0;
  &:focus {
    box-shadow: none;
    background-color: $coolgrey600;
  }
}

.navbar-search-btn {
  border-radius: 0 8px 8px 0;
  background-color: $secondaryteal;
  margin-right: 20px;
  &:hover {
    background-color: $primaryteal;
  }
}
.navbar-dropdown-menu {
  background-color: $coolgrey700;
  border: none;
  margin: 0;
  padding: 0;
}

.dropdown-item {
  &:hover {
    background-color: $coolgrey600;
  }
}

@media (max-width: 576px) { /* Targeting small screens */
  .navbar-search-btn-small {
    padding: 0.25rem 0.5rem; /* Smaller padding */
    font-size: 0.875rem; /* Smaller font size */
  }
  /* Optionally, adjust the search input field size as well */
  .navbar-search-small {
    height: calc(1.5em + 0.5rem + 2px); /* Smaller height */
    padding: 0.25rem 0.5rem; /* Smaller padding */
  }
}
